<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>글 목록</title>
</head>
<body>
<h1>글 목록</h1>

<table>
    <thead>
    <tr>
        <td align="center">번호</td>
        <td align="center">제목</td>
        <td align="center">작성자</td>
        <td align="center">작성일</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="post : ${postList}">
        <td align="center"><span th:text="${postStat.count}"></span></td>
        <td align="center"><a th:href="@{/postList/{postId}(postId=${post.id})}"><span th:text="${post.title}"></span></a></td>
        <td align="center"><span th:text="${post.getMember().getNickname()}"></span></td>
        <td align="center"> <span th:text="${#temporals.format(post.created, 'yyyy-MM-dd')}"></span></td>
    </tr>
    </tbody>
</table>

<br>
<button type="button" th:onclick="|location.href='@{/}'|">메인으로</button>
</body>
</html>